.login-wrapper {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
}

.login-body {
    flex: 1;
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.login-top-container {
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-mid-container {
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bottom-container {
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    background: white;
}

.login-text-box {
    text-align: center;
}
