.chat-wrapper {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
}

.chat-body {
    flex: 1;
    margin: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.chat-top-container {
    height: 50px;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
}

.chat-mid-container {
    flex: 1;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
}

.chat-bottom-container {
    height: 50px;
    color: black;
    background: white;
    display: flex;
    align-items: center;
}

.chat-btn {
    height: 30px;
    margin-left: 20px;
    background: white;
}

.chat-input {
    width: 100%;
}
